In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix

In [2]:
# Import historic data on first prediction
data = pd.read_csv("../historic_first_pred.csv")
data

/var/folders/0t/dc47jt692_qc1qb7bqkgylhw0000gn/T/ipykernel_56548/2471409024.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../historic_first_pred.csv")

,appointment_id,age_deid,bmi_deid,ethnicity,ethnic_category_black,ethnic_category_unknown,gender_male,imd19_quintile,main_spoken_language_other,current_smoker,...,prediction_type,case_control,use_case,appt_date,appt_month_trans,hospital_service_display_trans,service_mapping_trans,reason_display_trans,appointment_type_trans,did_not_attend_risk_group_trans
0,10079786,52,27.45,NaN,0,1,1,2,0,0,...,First prediction,1.0,3,2024-03-20,3.0,15,2,76,0,3
1,10164094,52,27.45,NaN,1,0,1,2,0,1,...,First prediction,1.0,3,2023-11-24,11.0,71,2,376,0,3
2,10211058,32,39.45,NaN,0,1,0,2,0,0,...,First prediction,1.0,3,2024-01-19,1.0,71,2,376,0,1
3,10550310,72,39.45,NaN,1,0,1,4,0,0,...,First prediction,1.0,3,2024-01-19,1.0,71,2,376,0,1
4,10670198,32,39.45,NaN,1,0,0,2,0,1,...,First prediction,1.0,3,2023-12-01,12.0,71,2,376,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139396,13147714,2,27.45,NaN,0,0,0,1,0,0,...,First prediction,1.0,3,2023-12-29,12.0,95,8,499,0,2
139397,13257461,67,40.00,NaN,0,0,0,1,0,0,...,First prediction,1.0,3,2024-02-01,2.0,125,2,694,0,2
139398,13390142,17,27.45,NaN,1,0,1,3,0,0,...,First prediction,1.0,3,2024-03-11,3.0,95,8,452,0,3
139399,13440971,77,21.70,NaN,0,1,1,2,0,0,...,First prediction,1.0,3,2024-03-20,3.0,36,2,215,1,2
139400,13463451,52,27.45,NaN,1,0,1,2,0,0,...,First prediction,1.0,3,2024-01-30,1.0,133,10,746,1,3

In [3]:
# Filter for adult ENT appointments only
ent_codes = [6, 23,  1,  8, 17, 20, 21, 22,  0, 13, 28, 14, 15,  3, 26, 18, 25, 2, 24, 27, 11,  4, 12, 19,  5, 16,  9,  7, 10]
data = data[data["reason_display_trans"].isin(ent_codes)]
data

,appointment_id,age_deid,bmi_deid,ethnicity,ethnic_category_black,ethnic_category_unknown,gender_male,imd19_quintile,main_spoken_language_other,current_smoker,...,prediction_type,case_control,use_case,appt_date,appt_month_trans,hospital_service_display_trans,service_mapping_trans,reason_display_trans,appointment_type_trans,did_not_attend_risk_group_trans
17,12088942,42,27.45,NaN,0,0,0,4,0,1,...,First prediction,1.0,3,2024-02-14,2.0,3,10,6,0,3
20,12207851,42,27.45,NaN,1,0,1,4,0,0,...,First prediction,1.0,3,2024-03-12,3.0,3,10,6,0,4
36,12791383,27,21.70,NaN,0,0,0,3,0,0,...,First prediction,1.0,3,2024-01-31,1.0,3,10,6,0,2
41,12940266,42,27.45,NaN,1,0,0,2,0,0,...,First prediction,1.0,3,2024-04-03,4.0,3,10,6,0,1
68,13428133,83,21.70,NaN,0,0,0,2,0,0,...,First prediction,1.0,3,2024-04-05,4.0,3,10,6,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139313,20238919,42,21.70,NaN,0,0,0,2,0,1,...,First prediction,1.0,3,2024-04-23,4.0,111,9,9,0,1
139385,11138651,47,27.45,NaN,0,0,0,2,0,0,...,First prediction,1.0,3,2024-02-20,2.0,3,10,6,0,3
139391,12468296,52,27.45,NaN,0,0,0,1,0,1,...,First prediction,1.0,3,2023-11-25,11.0,3,10,6,0,3
139392,12799747,72,21.70,NaN,0,0,0,2,0,1,...,First prediction,1.0,3,2023-12-08,12.0,111,9,6,0,2
139393,12985218,42,27.45,NaN,0,0,0,2,0,0,...,First prediction,1.0,3,2024-04-19,4.0,3,10,6,0,3

In [4]:
# Calculate the total number of appointments
total_appts = data.shape[0]
total_appts

5795

### Risk category scenario 1
- Predicted no show: very high risk
- Predicted show: high, moderate, low risk

In [5]:
# Transform risk categories to binary
risk_mapping ={
    1: 0, # Low risk
    2: 0, # Moderate risk
    3: 0, # High risk
    4: 1 # Very high risk
}

# Map the month names to numbers
trans_data1 = data.copy()
trans_data1["pred_no_show"] = trans_data1["did_not_attend_risk_group_trans"].map(risk_mapping)

trans_data1[["no_show", "did_not_attend_risk_group_trans", "pred_no_show"]]

        no_show  did_not_attend_risk_group_trans  pred_no_show
17          0.0                                3             0
20          0.0                                4             1
36          0.0                                2             0
41          0.0                                1             0
68          0.0                                3             0
...         ...                              ...           ...
139313      0.0                                1             0
139385      0.0                                3             0
139391      0.0                                3             0
139392      0.0                                2             0
139393      0.0                                3             0

[5795 rows x 3 columns]

In [6]:
# Calculate confusion matrix
cm1 = confusion_matrix(trans_data1["no_show"], trans_data1["pred_no_show"])
cm1

array([[4977,   57],
       [ 680,   81]])

In [7]:
# Calculate PPV (Precision) ie. TP / (TP + FP)
TN1, FP1, FN1, TP1 = cm1.ravel()

PPV1 = TP1 / (TP1 + FP1)
PPV1

0.5869565217391305

In [8]:
# Calculate true no-show %
true_no_show1 = TP1/total_appts
true_no_show1

0.013977566867989646

### Risk category scenario 2
- Predicted no show: very high, high risk
- Predicted show: moderate, low risk

In [9]:
# Transform risk categories to binary
risk_mapping ={
    1: 0, # Low risk
    2: 0, # Moderate risk
    3: 1, # High risk
    4: 1 # Very high risk
}

# Map the month names to numbers
trans_data2 = data.copy()
trans_data2["pred_no_show"] = trans_data2["did_not_attend_risk_group_trans"].map(risk_mapping)

trans_data2[["no_show", "did_not_attend_risk_group_trans", "pred_no_show"]]

        no_show  did_not_attend_risk_group_trans  pred_no_show
17          0.0                                3             1
20          0.0                                4             1
36          0.0                                2             0
41          0.0                                1             0
68          0.0                                3             1
...         ...                              ...           ...
139313      0.0                                1             0
139385      0.0                                3             1
139391      0.0                                3             1
139392      0.0                                2             0
139393      0.0                                3             1

[5795 rows x 3 columns]

In [10]:
# Calculate confusion matrix
cm2 = confusion_matrix(trans_data2["no_show"], trans_data2["pred_no_show"])
cm2

array([[4041,  993],
       [ 384,  377]])

In [11]:
# Calculate PPV (Precision) ie. TP / (TP + FP)
TN2, FP2, FN2, TP2 = cm2.ravel()

PPV2 = TP2 / (TP2 + FP2)
PPV2

0.2751824817518248

In [12]:
# Calculate true no-show %
true_no_show2 = TP2/total_appts
true_no_show2

0.06505608283002588

### Risk category scenario 3
- Predicted no show: very high, high risk, moderate
- Predicted show: low risk

In [13]:
# Transform risk categories to binary
risk_mapping ={
 1: 0, # Low risk
    2: 1, # Moderate risk
    3: 1, # High risk
    4: 1 # Very high risk
}

# Map the month names to numbers
trans_data3 = data.copy()
trans_data3["pred_no_show"] = trans_data3["did_not_attend_risk_group_trans"].map(risk_mapping)

trans_data3[["no_show", "did_not_attend_risk_group_trans", "pred_no_show"]]

        no_show  did_not_attend_risk_group_trans  pred_no_show
17          0.0                                3             1
20          0.0                                4             1
36          0.0                                2             1
41          0.0                                1             0
68          0.0                                3             1
...         ...                              ...           ...
139313      0.0                                1             0
139385      0.0                                3             1
139391      0.0                                3             1
139392      0.0                                2             1
139393      0.0                                3             1

[5795 rows x 3 columns]

In [14]:
# Calculate confusion matrix
cm3 = confusion_matrix(trans_data3["no_show"], trans_data3["pred_no_show"])
cm3

array([[2547, 2487],
       [ 160,  601]])

In [15]:
# Calculate PPV (Precision) ie. TP / (TP + FP)
TN3, FP3, FN3, TP3 = cm3.ravel()

PPV3 = TP3 / (TP3 + FP3)
PPV3

0.19462435233160622

In [16]:
# Calculate true no-show %
true_no_show3 = TP3/total_appts
true_no_show3

0.10371009490940467

In [17]:
# Store the PPV1 value for later access in other Jupyter Notebook scripts
%store PPV1

Stored 'PPV1' (float64)